ul.recursive_folder, ul.recursive_folder ul {
    font-size: 12px;
    list-style: none;
    color: #667780;
    padding-left: 15px;
}

fieldset div.col.p-0.px-3,
fieldset div.col-12.col-md-7.shadow-sm {
    display: inline-block;
    width: 49%;
}